$color-text-primary: #211d1e;


$color-primary:#ff2626;
$color-primary-dark: #c73030;

$color-orange: #fc9942;

$color-pink: #f060d3;

$color-white: #fff;

$color-gray: #8a8686;
$color-gray-light: #f5f5f5;
$color-gray-dark:#c9c7c7;

$color-black: #000;

$color-blue:#00a3f5;
$color-blue-light: #61caff;
$color-blue-dark: #5442fc;

$font-primary: 'Roboto', sans-serif;

$font-size-primary: 2rem;

$margin-primary: 5rem;

$padding-primary: 12rem;