$color-text-primary:  #3c3c3c;


$color-primary: #e9573f;
$color-primary-dark: #c73030;

$color-orange: #fc9942;

$color-pink: #f060d3;

$color-white: #fff;

$color-gray: #8a8686;
$color-gray-light: #f5f5f5;
$color-gray-dark:#c9c7c7;

$color-black: #000;

$color-blue:#00a3f5;
$color-blue-light: #61caff;
$color-blue-dark: #5442fc;

$font-primary: 'Roboto', sans-serif;

$font-size-primary: 2rem;

$margin-primary: 5rem;

$padding-primary: 12rem;

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em;  //800px
$bp-small: 37.5em; // 600px