*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #211d1e;
  font-weight: 300;
}

.heading--1 {
  color: #211d1e;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 7rem;
  line-height: 1.4;
  font-weight: 600;
}

.heading--2 {
  color: #211d1e;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 3.5rem;
  font-weight: 600;
}

.heading--2::after {
  content: "";
  display: block;
  margin: 1rem auto 0 auto;
  height: 3px;
  background-color: #8a8686;
  width: 5rem;
}

.heading--3 {
  color: #211d1e;
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 400;
}

.heading--4 {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.heading--red {
  color: #ff2626;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 2rem;
}

.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.gallery__name {
  margin-top: 2px;
  font-size: 1.4rem;
  font-weight: 600;
}

.gallery__position {
  font-size: 1.2rem;
}

.gallery__overlay-box {
  position: relative;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 38, 38, 0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gallery__overlay:hover {
  background-color: #ff2626;
}

.gallery__overlay:hover .gallery__icon {
  color: white;
  background-color: rgba(255, 255, 255, 0.7);
}

.gallery__icon-box {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__icon-box :not(:last-child) {
  margin-right: 1rem;
}

.gallery__icon {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.header {
  height: 100vh;
  background-image: url(../img/workplace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__text {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-weight: 400;
}

.header__arrow {
  margin-top: 8rem;
  border: 3px solid #211d1e;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  font-size: 2rem;
}

.header__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12rem 0;
}

.about__text {
  width: 55%;
  font-size: 2rem;
  padding: 3rem 0;
  text-align: center;
}

.about__img-box {
  width: 55%;
  height: auto;
  position: relative;
}

.about__img {
  width: 100%;
  height: auto;
}

.about__shadow {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__play {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  -webkit-clip-path: polygon(0 100%, 100% 50%, 0 0);
          clip-path: polygon(0 100%, 100% 50%, 0 0);
  cursor: pointer;
}

.who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f5f5;
  padding: 12rem 0;
}

.who__text {
  font-size: 2rem;
  margin-top: 5rem;
  width: 60%;
  text-align: center;
  margin-bottom: 5rem;
}

.who__box {
  width: 100%;
  padding: 2rem 20rem;
}

.what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12rem 0;
}

.what__text {
  font-size: 2rem;
  width: 60%;
  text-align: center;
  margin-top: 5rem;
}

.what__box {
  padding: 0 20rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
}

.what__cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.what__icon {
  font-size: 9rem;
  padding: 3rem;
  margin: 2rem 0;
}

.what__icon--red {
  color: #ff2626;
}

.what__description {
  font-size: 1.6rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */