*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
  font-weight: 300;
}

.heading {
  color: #3c3c3c;
  text-transform: uppercase;
}

.heading--1 {
  letter-spacing: 8px;
  font-size: 7rem;
  line-height: 1.4;
  font-weight: 600;
}

@media only screen and (max-width: 62.5em) {
  .heading--1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 50em) {
  .heading--1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading--1 {
    font-size: 3rem;
  }
}

.heading--2 {
  letter-spacing: 6px;
  font-size: 3.4rem;
  font-weight: 700;
}

.heading--2::after {
  content: "";
  display: block;
  margin: 1rem auto 0 auto;
  height: 3px;
  background-color: #8a8686;
  width: 5rem;
}

.heading--3 {
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 1.6;
  font-weight: 400;
}

@media only screen and (max-width: 62.5em) {
  .heading--3 {
    font-size: 3rem;
  }
}

.heading--4 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.heading--red {
  color: #e9573f;
}

.heading--capt {
  text-transform: capitalize;
}

.heading--white {
  color: #fff;
  font-weight: 400;
}

.heading--white::after {
  content: "";
  display: block;
  margin: 1rem auto 0 auto;
  height: 3px;
  background-color: #fff;
  width: 5rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 4rem;
}

@media only screen and (max-width: 1720px) {
  .gallery {
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: 3rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .gallery {
    -ms-grid-columns: (minmax(15rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(15rem, 1fr));
  }
}

@media only screen and (max-width: 450px) {
  .gallery {
    -ms-grid-columns: (minmax(15rem, 1fr))[1];
        grid-template-columns: repeat(1, minmax(15rem, 1fr));
  }
}

.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.gallery__name {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.gallery__position {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.gallery__overlay-box {
  position: relative;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(233, 87, 63, 0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gallery__overlay:hover {
  background-color: #e9573f;
}

.gallery__overlay:hover .gallery__icon {
  color: white;
  background-color: rgba(255, 255, 255, 0.7);
}

.gallery__icon-box {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__icon-box :not(:last-child) {
  margin-right: 1rem;
}

.gallery__icon {
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.form__name, .form__email, .form__message {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-bottom: 2px solid #f5f5f5;
  outline: none;
  margin-top: 2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__name:focus, .form__email:focus, .form__message:focus {
  border-bottom: 2px solid #e9573f;
}

.form__name::-webkit-input-placeholder, .form__email::-webkit-input-placeholder, .form__message::-webkit-input-placeholder {
  color: #8a8686;
}

.form__name:-ms-input-placeholder, .form__email:-ms-input-placeholder, .form__message:-ms-input-placeholder {
  color: #8a8686;
}

.form__name::-ms-input-placeholder, .form__email::-ms-input-placeholder, .form__message::-ms-input-placeholder {
  color: #8a8686;
}

.form__name::placeholder, .form__email::placeholder, .form__message::placeholder {
  color: #8a8686;
}

.form__btn {
  margin-top: 5rem;
}

.btn {
  background-color: #e9573f;
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: #c73030;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 3px;
}

@media only screen and (max-width: 37.5em) {
  .socials {
    margin-top: 4rem;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
}

.socials__socialmedia {
  padding: 1rem 6rem;
}

@media only screen and (max-width: 37.5em) {
  .socials__socialmedia {
    padding: 1rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.socials__socialmedia--1 {
  background-color: #00a3f5;
}

.socials__socialmedia--2 {
  background-color: #61caff;
}

.socials__socialmedia--3 {
  background-color: #f060d3;
}

.socials__socialmedia--4 {
  background-color: #5442fc;
}

.socials__socialmedia--5 {
  background-color: #fc9942;
}

.socials__icon {
  color: #fff;
  font-size: 2rem;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slider__img-box {
  overflow: hidden;
  position: relative;
}

.slider__img-box:not(:last-child) {
  margin-right: 1rem;
}

.slider__img {
  width: 40vw;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
}

.slider__shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(233, 87, 63, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__shadow--active {
  bottom: 0;
  top: 85%;
  left: 0;
  right: 0;
}

.slider__text {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4rem 0 10rem 0;
}

.slider__dot {
  font-size: 12rem;
  line-height: 0.5;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  cursor: pointer;
  color: #c9c7c7;
}

.slider__dot--active {
  font-size: 16rem;
  -webkit-transform: translateY(-6.3rem);
          transform: translateY(-6.3rem);
  color: #e9573f;
}

@media only screen and (max-width: 75em) {
  .slider__dot--active {
    -webkit-transform: translateY(-6.4rem);
            transform: translateY(-6.4rem);
  }
}

.header {
  height: 100vh;
  background-image: url(../img/workplace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

@media only screen and (max-width: 75em) {
  .header__box {
    width: 80%;
  }
}

@media only screen and (max-width: 62.5em) {
  .header__box {
    width: 100%;
  }
}

.header__text {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-weight: 400;
}

@media only screen and (max-width: 62.5em) {
  .header__text {
    width: 80%;
  }
}

.header__arrow {
  margin-top: 15rem;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  font-size: 2rem;
}

.header__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12rem 0;
}

@media only screen and (max-width: 62.5em) {
  .about {
    padding: 6rem 0;
  }
}

.about__text {
  width: 55%;
  font-size: 2rem;
  padding: 3rem 0;
  text-align: center;
}

.about__img-box {
  width: 55%;
  height: auto;
  position: relative;
}

@media only screen and (max-width: 62.5em) {
  .about__img-box {
    width: 80%;
  }
}

.about__img {
  width: 100%;
  height: auto;
}

.about__shadow {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__play {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  -webkit-clip-path: polygon(0 100%, 100% 50%, 0 0);
          clip-path: polygon(0 100%, 100% 50%, 0 0);
  cursor: pointer;
}

.who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f5f5;
  padding: 12rem 0;
}

@media only screen and (max-width: 75em) {
  .who {
    padding: 8rem 0;
  }
}

.who__text {
  font-size: 2rem;
  margin-top: 5rem;
  width: 60%;
  text-align: center;
  margin-bottom: 5rem;
}

.who__box {
  width: 100%;
  padding: 2rem 30rem;
}

@media only screen and (max-width: 1720px) {
  .who__box {
    padding: 2rem 20rem;
  }
}

@media only screen and (max-width: 75em) {
  .who__box {
    padding: 2rem 6rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .who__box {
    padding: 2rem 12rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .who__box {
    padding: 2rem 6rem;
  }
}

.what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12rem 0;
}

.what__text {
  font-size: 2rem;
  width: 60%;
  text-align: center;
  margin-top: 5rem;
}

.what__box {
  padding: 0 20rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
}

@media only screen and (max-width: 62.5em) {
  .what__box {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .what__box {
    padding: 0rem 6rem;
  }
}

.what__cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.what__icon {
  font-size: 9rem;
  padding: 3rem;
  margin: 2rem 0;
}

.what__icon--red {
  color: #e9573f;
}

.what__description {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2;
}

.work {
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__text {
  font-size: 2rem;
  width: 60%;
  margin: 5rem 0;
}

.client {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../img/meeting.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url("../img/meeting.jpg");
  padding: 12rem 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client__text {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  margin: 3rem 0 5rem 0;
  width: 60%;
}

@media only screen and (max-width: 37.5em) {
  .client__text {
    font-size: 2rem;
    width: 80%;
  }
}

.client__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  width: 90%;
}

@media only screen and (max-width: 37.5em) {
  .client__box {
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
}

.client__img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  padding: 0 5rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12rem 20rem;
}

@media only screen and (max-width: 62.5em) {
  .contact {
    padding: 10rem 8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact {
    padding: 8rem 2rem;
  }
}

.contact__text {
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
  margin: 4rem 0;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__form {
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .contact__form {
    width: 100%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  background-color: #c9c7c7;
}

.footer__text {
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */