.what{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $padding-primary 0;
    &__text{
        font-size: $font-size-primary;
        width: 60%;
        text-align: center;
        margin-top: $margin-primary;
    }
    &__box{

    }
}