
.heading{
    
    &--1{
      color:  $color-text-primary;
      text-transform: uppercase;
      letter-spacing: 8px;
      font-size: 7rem;
      line-height: 1.4;
      font-weight: 600;
    }
    &--2{
        color: $color-text-primary;
        font-size: 4rem;
        letter-spacing: 3px;
        line-height: 1.6;
        text-transform: uppercase;
        font-weight: 400;
    }
    &--3{

    }
    &--4{

    }

}