.socials{
    &__socialmedia{
        &--1{
            background-color: blue;
        }
        &--2{

        }
        &--3{

        }
        &--4{

        }
        &--5{

        }
    }
    &__icon{
        color: red;
        font-size: 2rem;
    }
}